body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #012970;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero h3 {
  color: #012970;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-weight: 700;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 25px 40px;
  border-radius: 5px;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

select{
  margin-left: 10px;
  border-radius: 2px;
  margin-top: 15px;
  color:#012970;
}

textarea{
  padding: 5px;
  resize: none;
  margin-top: 15px;
  color:#012970;
  width: 375px;
  height: 110px;
  border-radius: 10px;
  size: 10px;
}

.hero .contents {
  text-align: left;
  padding-left: 50px;
}

.loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(175, 246, 140, 0.788);
  border-left-color: #94e87f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .hero .contents {
    text-align: center;
    margin-top: 80px;
  }

  .hero .contents img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .contents img {
    width: 100%;
  }
}